<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fotnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2020T00901"
        tools:targetApi="31">

        <activity android:name="com.example.fotnews.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.fotnews.MainActivity" />
        <activity android:name="com.example.fotnews.HomeActivity" />
        <activity android:name="com.example.fotnews.LoginActivity" />
        <activity android:name="com.example.fotnews.SignupActivity" />
        <activity android:name="com.example.fotnews.SettingsActivity" />
        <activity android:name="com.example.fotnews.DevActivity" />
    </application>

</manifest>
